.sideMenuMobile svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-top: 0.6rem;
}

sideMenuMobile li {
  text-decoration: none !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 1rem;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  text-decoration: none;
  color: #fff !important;
  display: block;
  transition: 0.3s;
}

.closebtn svg {
  color: #fff !important;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
