.loading {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #cccccc;
  border-right-color: transparent;
  animation: loading 1s infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
