@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none !important;
  color: #000000 !important;
}

h1 {
  font-size: 1.6rem !important;
  font-weight: 600 !important;
}

h2 {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

h3 {
  font-size: 0.4rem !important;
  font-weight: 600 !important;
}

.active div {
  border-left: 2px solid #000;
}

.content {
  padding-top: 8.5rem !important;
  padding-left: 4rem !important;
}
